<%= render 'navbar', title: 'Patients', patient: nil %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <%= render patient %>
    <% end %>
  </tbody>
</table>
