<nav class="navbar mb-3">
  <div class="container-fluid">
    <a class="navbar-brand">Patients</a>
    <%= link_to "New patient", new_patient_path, class: 'btn btn-info' %>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <%= render patient %>
    <% end %>
  </tbody>
</table>
